body{
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }

footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:100px; 
}

h1{
    text-align: center;
}
.imgmenu{
    width: 50%;
}

.indexIcone{
    font-size: 10vh;
}

.imgnav{
    width: 70px
}

.logo{
    width: 100px;
}

.botaoLoginCadastro{
    background-color:rgb(112, 112, 112);
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    border-style: none;
    color:white;
    text-decoration: none;
}

.botaoLoginCadastro:hover{
    background-color:rgb(231, 231, 231);
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    border-style: none;
    color:black;
}

.bgcadastro{
    background-color: #525252;
    width: 100%;
    height: 170vh;
}

.form-container{
    border: 1px solid white;
    background-color: white;
    padding: 50px 60px; 
    border-radius: 20px;
}
.login{
    display: -webkit-inline-box;
    padding: 0;
}

.inputLogin{
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px;
    outline: 0;
}

.footerLogin{
    text-align: center;
    border-top: solid 2px black;
    padding-top: 10px;
}
.footerLogin a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.tituloPagina{
    border-bottom: solid 2px black;
}

.container{
    max-width: 80%;
}

.perfilContainer label{
    font-weight: bold;
}

.perfilContainer input{
    margin-bottom: 20px;
}

textarea{
    height: 150px;
}

.formPerfil input[type='file'] {
    display: none
}

.botaoAnexar label{
    background-color:rgb(112, 112, 112);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border-style: none;
    color:white;
    font-weight: normal;
}

.botaoAnexar label:hover{
    background-color:rgb(231, 231, 231);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border-style: none;
    color:black;
    cursor: pointer;
}


#curriculoLabel{
    font-weight: normal;
}

#curriculoLabel:hover{
    font-weight: normal;
    background-color:rgb(231, 231, 231);
}

.fotoPerfil{
    width: 150px;
    height: 150px;
}

.fotoCandidato{
    width: 10vh;
}


.filtros{
    border: rgb(189, 189, 189) 2px solid;
    border-radius: 5px;
    padding: 30px 30px 0px 30px;
}

.filtros ul{
    list-style-type: none;
    padding-left: 0;
}

.filtros a{
    text-decoration: none;
    color: black;
}

.filtros h5{
    font-weight: bold;
    color: rgb(48, 62, 90)
}

.vagaImagem{
    height: 100%;
    width: 100%;
}
  
.tag{
    text-align: center;
    color: white;
    border-radius: 8px;
    display: inline-block;
    padding: 3px 8px 3px 8px;
}
.tituloVaga{
    font-weight: bolder;
    margin-bottom: 0;
}

.Informática{
    background-color: rgb(35, 97, 212);
}

.Eletrônica{
    background-color: rgb(182, 8, 8);
}

.Comércio{
    background-color: rgb(235, 231, 4);
    color: black;
}

.Manutenção{
    background-color: rgb(38, 36, 61);
}

.Marketing{
    background-color: rgb(168, 107, 16);
}

.Todos{
    background-color: rgb(24, 23, 22);
}

.duracao{
    background-color: rgb(201, 78, 78);
}

#conteudoDetalhes{
    word-wrap: break-word;
}

.detalhesVaga{
    cursor: pointer;
    text-decoration: none;
    color:rgb(66, 75, 90);
}

.botaoFavorito{
    text-decoration: none;
    color: yellow;
    font-size: 30px;
    cursor: pointer;
}

.botaoFavorito2{
    text-decoration: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
}

textarea {
    resize: none;

  }
.nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer-link{
    text-decoration: none;
    color: rgb(189, 189, 189);
    font-weight: bold;
}

.footer{
    background-color: rgb(66, 75, 90);
}

.textoFooter{
    color: rgb(80, 93, 104);
}

.imgfooter{
    width: 130px;
}

footer .row{
    margin-right: 0;
}

.nomeCandidato{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 0;
    padding-left: 0;

}

.botaoPaginacao{
    background-color: rgb(66, 75, 90);
    color: white;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 50%;
}

.nav-item .sair{
    color: red;
}

.listadosCandidatos{
    border:rgb(189, 189, 189) 2px solid;
    border-radius: 20px;
    max-width: 90%;
}

.extra-info {
    display: none;
    line-height: 30px;
    font-size: 12px;
    top: 0;
    left: 50px;
  }
  
  .info:hover .extra-info {
    display: block;
    background-color: rgb(189, 189, 189);
    border-radius: 20px;
    text-align: center;
  }
  
  .info {
    font-size: 20px;
    padding-left: 5px;
    width: 20px;
    border-radius: 15px;
  }
  
  .info:hover {
    padding: 0 0 0 5px;
    width: 315px;
    text-align: left !important;
  }