<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4286abea40.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'styles/base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}">
    <script src="{{ url_for('static', filename= 'scripts/scripts.js') }}" type="text/javascript"></script>

    {% if title %}
      <title>{{ title }} - DVEE</title>
    {% else %}
      <title>Bem-vindo ao DVEE</title>
    {% endif %}
</head>
<body>
  {% if current_user.is_authenticated %}
  <nav class="navbar navbar-light navbar-expand-lg">
    <div class="container-fluid">
      <a class="nav-link navbar-brand" href="{{ url_for('index') }}"><img class="imgnav"src="{{ url_for('static', filename= 'img/logo.png') }}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
        {% if current_user.type_user == 'empr' %}
      <div class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('novaVaga') }}">CADASTRAR VAGA</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="{{ url_for('suasVagas') }}">SUAS VAGAS</a>
      </div>
      {% endif %}
      {% if current_user.type_user == 'egr' %}
      <div class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('vagas') }}">VAGAS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="{{ url_for('inscricoes') }}">INSCRIÇÕES</a>
      </div>
      {% endif %}
      {% if current_user.type_user == 'adm' %}
      <div class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('cadastrarEgressos') }}">CADASTRAR EGRESSOS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('egressos') }}">EGRESSOS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="{{ url_for('empresas') }}">EMPRESAS</a>
      </div>
      {% endif %}
      <div class="nav-item">
        <a class="nav-link" href="{{ url_for('perfil') }}">PERFIL</a>
      </div>
    <div class="nav-item">
      <a class="nav-link sair" href="{{ url_for('logout') }}">SAIR</a>
    </div>
    </div>
    </div>
  </nav>

    {% endif %}
        {% block content %}{% endblock %}
        {% if current_user.is_authenticated %}
        <div class="mb-4">

        </div>
        <footer class="text-white pt-5 pb-4 footer">
          <div class="text-center text-md-start"> 
            <div class="row text-center text-md-start footer">
              <div class="col-md-1 col-lg-1 col-xl-1 mx-auto mt-3">
                <img class="imgfooter" src="{{ url_for('static', filename= 'img/logo.png') }}" alt="">
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h3 class="text-upercase mb-4 font-weigtht-bold">Início</h3>
                <p><a class="footer-link active" aria-current="page" href="{{ url_for('index') }}">PÁGINA INICIAL</a></p>
                {% if current_user.type_user == 'egr' %}
                <p><a class="footer-link active" aria-current="page" href="{{ url_for('vagas') }}">VAGAS</a></p>
                <p><a class="footer-link" href="{{ url_for('inscricoes') }}">INSCRIÇÕES</a></p>
                {% elif current_user.type_user == 'empr' %}
                <p><a class="footer-link active" aria-current="page" href="{{ url_for('novaVaga') }}">CADASTRAR VAGA</a></p>
                <p><a class="footer-link active" aria-current="page" href="{{ url_for('suasVagas') }}">SUAS VAGAS</a></p>
                {% else %}
                <p><a class="footer-link active" aria-current="page" href="{{ url_for('cadastrarEgressos') }}">CADASTRAR EGRESSOS</a></p>
                <p><a class="footer-link active" aria-current="page" href="{{ url_for('egressos') }}">EGRESSOS</a></p>
                <p><a class="footer-link active" aria-current="page" href="{{ url_for('empresas') }}">EMPRESAS</a></p>
                {% endif %}
                <p><a class="footer-link" href="{{ url_for('perfil') }}">PERFIL</a></p>
                
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h3 class="text-upercase mb-4 font-weigtht-bold">Sobre Nós</h3>
                <p><a class="footer-link" href="{{ url_for('sobre') }}">O QUE É O DVEE</a></p>
              </div>
            </div>
            <div class="row justify-content-center footer pt-3">
              <div class="col-md-6 offset-md-3">
                <p><small>©2021 - DVEE | Todos os direitos reservados</small></p>
              </div>
            </div>


          </div>
        </footer>
        {% endif %}
</body>
</html>
