{% extends "base.html" %}
{% block content %}


<div class="container">
    <h2 class="tituloPagina pb-2 mt-4">{{ title }}</h2>
    <div class="row">
    <div class="col-md-4 com-sm-4 col-xs-12"></div>
    <div class="col-md-4 com-sm-4 col-xs-12">
        <div>
        <form action="" method=post enctype=multipart/form-data>
        {{ form.hidden_tag() }}

        <div>
            {{ form.arquivo.label(class="form-label") }}<br>
            {{ form.arquivo(class="form-control") }}<br>
            <div id="emailHelp" class="form-text">
                {% for error in form.arquivo.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="mt-3 text-center">{{ form.submit(class="botaoLoginCadastro") }}</div>
        </form>
        </div>

    </div>
    <div class="col-md-4 com-sm-4 col-xs-12"></div>
</div>
</div>

{% endblock%}