{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2 class="tituloPagina pb-2 mt-4">{{ title }}</h2>
    <div class="mt-5">
        <h1>{{info}}</h1>
    </div>
</div>

{% endblock%}