{% extends "base.html" %}

{% block content %}

<div class="container">
  <h2 class="tituloPagina pb-2 mt-4">{{ title }}</h2>
        {% if current_user.type_user == 'empr' %}
        <div class="row">
          <div class="col mt-3">
          <div class="card text-center mx-auto" style="width: 18rem;">
            <i style="color: rgb(80, 93, 104);  font-size: 14vh;" class="far fa-edit p-3"></i>
            <div class="card-body">
              <h5 class="card-title">Cadastrar Nova Vaga</h5>
              <p class="card-text">Cadastre uma oportunidade para selecionar candidatos.</p>
              <a href="{{ url_for('novaVaga') }}" class="botaoLoginCadastro">Cadastrar</a>
            </div>
          </div>
        </div>
        <div class="col mt-3">
          <div class="card text-center mx-auto" style="width: 18rem;">
            <i style="color: rgb(80, 93, 104);" class="fas fa-clipboard-list p-3 indexIcone"></i>
            <div class="card-body">
              <h5 class="card-title">Suas Vagas</h5>
              <p class="card-text">Veja as oportunidades cadastradas, como também quem se candidatou nelas.</p>
              <a href="{{ url_for('suasVagas') }}" class="botaoLoginCadastro">Ver vagas</a>
            </div>
          </div>
        </div>
        </div>
        {% elif current_user.type_user == 'egr' %}
        <div class="row">
          <div class="col mt-3">
          <div class="card text-center mx-auto" style="width: 18rem;">
            <i style="color: rgb(80, 93, 104);" class="fas fa-clipboard-list p-3 indexIcone"></i>
            <div class="card-body">
              <h5 class="card-title">Vagas</h5>
              <p class="card-text">Veja as vagas disponíveis no momento.</p>
              <a href="{{ url_for('vagas') }}" class="botaoLoginCadastro">Ver vagas</a>
            </div>
          </div>
        </div>
        <div class="col mt-3">
          <div class="card text-center mx-auto" style="width: 18rem;">
            <i style="color: rgb(80, 93, 104);" class="fas fa-clipboard-check p-3 indexIcone"></i>
            <div class="card-body">
              <h5 class="card-title">Inscrições</h5>
              <p class="card-text">Acompanhe o andamento das vagas que você se candidatou.</p>
              <a href="{{ url_for('inscricoes') }}" class="botaoLoginCadastro">Ver andamento</a>
            </div>
          </div>
        </div>
        </div>
        {% else %}
    <div class="row">
        <div class="col mt-3">
        <div class="card text-center mx-auto" style="width: 18rem;">
          <i style="color: rgb(80, 93, 104);" class="fas fa-user-plus p-3 indexIcone"></i>
          <div class="card-body">
            <h5 class="card-title">Cadastrar Egressos</h5>
            <p class="card-text">Cadastre novos egressos para a plataforma.</p>
            <a href="{{ url_for('cadastrarEgressos') }}" class="botaoLoginCadastro">Cadastrar</a>
          </div>
        </div>
      </div>
      <div class="col mt-3">
        <div class="card text-center mx-auto" style="width: 18rem;">
          <i style="color: rgb(80, 93, 104);" class="fas fa-users p-3 indexIcone"></i>
          <div class="card-body">
            <h5 class="card-title">Egressos</h5>
            <p class="card-text">Veja todos os egressos cadastrados na plataforma.</p>
            <a href="{{ url_for('egressos') }}" class="botaoLoginCadastro">Ver egressos</a>
          </div>
        </div>
      </div>
      <div class="col mt-3">
        <div class="card text-center mx-auto" style="width: 18rem;">
          <i style="color: rgb(80, 93, 104);" class="fas fa-building p-3 indexIcone"></i>
          <div class="card-body">
            <h5 class="card-title">Empresas</h5>
            <p class="card-text">Veja todos as empresas cadastradas na plataforma.</p>
            <a href="{{ url_for('empresas') }}" class="botaoLoginCadastro">Ver empresas</a>
          </div>
        </div>
      </div>
    </div>
        {% endif %}
  </div>
{% endblock %}