{% extends "base.html" %}

{% block content %}  
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 com-sm-4 col-xs-12"></div>
            <div class="col-md-4 com-sm-4 col-xs-12">
                <form class="form-container" action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mx-auto text-center mb-4"><img class="imgmenu" src="{{ url_for('static', filename= 'img/logo.png') }}" alt=""></div>
                    <div class='login'><h4>Login</h4></div>
                    <div class="mb-3">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}" role="alert">
                                        {{ message }}
                                      </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="mb-3">
                        {{ form.username(class="inputLogin", placeholder="Matrícula ou CNPJ") }}
                        <div id="emailHelp" class="form-text">
                            {% for error in form.username.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form.password(type="password", class="inputLogin", placeholder="Senha") }}
                        <div id="emailHelp" class="form-text">
                            {% for error in form.password.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                      <div class="mb-3 form-check">
                        {{ form.remember_me(type="checkbox", class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                      </div>
                      <div class="gap-2 text-center">
                      {{ form.submit(class="botaoLoginCadastro") }}
                    </div>
                </form>
                <div class='footerLogin mt-5'>
                    <p>Você é uma empresa e não tem uma conta? <a href="{{ url_for('register') }}">Cadastre-se!</a></p>
                    <p>Você é um egresso e não tem uma conta? <b>Converse com o seu coordenador de extenção para ter acesso.</b></p>
                </div>
            </div>
            <div class="col-md-4 com-sm-4 col-xs-12"></div>
        </div>
    </div>
{% endblock %}