{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2 class="tituloPagina pb-2 mt-4">{{ title }}</h2>
    <p class="text-center mt-3">O DVEE é uma plataforma deselvolvida afim de ajudar os estudantes egressos do IFRN a encontrar
        oportunidades de emprego, trabalhando com a extenção do campus Zona Norte para tornar as vagas de emprego
        mais acessíveis. 
    </p>
</div>

{% endblock%}