{% extends "base.html" %}

{% block content %}
  <div class="container perfilContainer mx-auto">
    <h2 class="tituloPagina pb-2 mt-4">Perfil de {{ user.username }}</h2>
        <div class="row align-items-start mt-5">
          <div class="col-md">
            <div class="text-center">
              <img src="{{foto}}" class="fotoPerfil rounded-circle border border-secondary mb-5">
            </div>
          </div>
          <div class="col-md">
            <div class="flex-grow-1 ms-3">
              <div class="row g-3">
              <div class="col-md">
                <h5>Nome:</h5>
                {{user.username}}
              </div>
              <div class="col-md">
                <h5>Email:</h5>
                {{user.email}}
              </div>
              </div>
              <div class="row g-3 mt-3">
              {% if user.telefone != '' %}
              <div class="col-md">
                <h5>Telefone:</h5>
                {{user.telefone}}
            </div>
              {% endif %}
              {% if user.type_user == 'egr' %}
                {% if user.curriculo != '' %}
                <div class="col botaoCurriculo">
                  <h5>Currículo:</h5>
                  <a type="button" class="btn btn-outline-secondary" href="{{url_for('static', filename='arquivos/' + user.curriculo)}}" target="_blank">Currículo de {{user.username}}</a>
                </div>
                {% endif %}
              {% endif %}
          </div>
          {% if user.info != '' %}
              <div class="mt-5">
                <h5>Informação:</h5>
                <p id="conteudoDetalhes">{{user.info}}</p>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </form>
    </div>

{% endblock %}