{% extends "base.html" %}

{% block content %}

<div class="container">
  <h2 class="tituloPagina pb-2 mt-4">{{ title }}</h2>
  <div class="mx-auto mt-5">
    <div class="row align-items-start mt-3 justify-content-center">
      <div class="col-md-4 mb-2">
        <div class="filtros">
          <h2 class="mb-3">Filtro</h2>
          <div class="mb-5">
            <form class="row" method="GET" action="{{ url_for('search')}}">
            <div class='col-8 col-sm-8 col-md-9'> <input type="search" class="form-control" placeholder="Procurar por vaga" aria-label="Recipient's username" aria-describedby="button-addon2" name="q"></div>
            <div class='col-2 col-sm-2 col-md-3'><button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button></div>
          </form>
          </div>
          <ul>
            <li><a href="{{ url_for('vagasfavoritas')}}">Favoritas</a></li>
          </ul>
            <div class="listaCursos mb-5">
          <ul>
            <li><h5>Cursos:</h5></li>
            <li><a href="{{ url_for('vagas')}}">Todos</a></li>
            <li><a href="{{ url_for('vagasfiltro', action='curso', elemento='Comércio')}}">Comércio</a></li>
            <li><a href="{{ url_for('vagasfiltro', action='curso', elemento='Eletrônica')}}">Eletrônica</a></li>
            <li><a href="{{ url_for('vagasfiltro', action='curso', elemento='Informática para Internet')}}">Informática para Internet</a></li>
            <li><a href="{{ url_for('vagasfiltro', action='curso', elemento='Manutenção e Suporte')}}">Manutenção e Suporte</a></li>
            <li><a href="{{ url_for('vagasfiltro', action='curso', elemento='Marketing')}}">Marketing</a></li>
          </ul>
        </div>
        <div class="listaStatus">
          <ul>
            <li><h5>Status:</h5></li>
            <li><a href="{{ url_for('vagasfiltro', action='status', elemento='todos')}}">Todos</a></li>
            <li><a href="{{ url_for('vagasfiltro', action='status', elemento='andamento')}}">Em andamento</a></li>
            <li><a href="{{ url_for('vagasfiltro', action='status', elemento='encerrado')}}">Encerrado</a></li>
          </ul>
        </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="todasasvagas">
          {% if vaga.items %}
          {% for vagas in vaga.items %}
          <div class="card mb-3 mx-auto p-3" id="{{ vagas.id }}">
            <div class="row align-items-start mb-3">
              <div class="col-md-4 mb-2"><img class="vagaImagem" src="{{ url_for('static', filename= 'img/' + vagas.foto_vaga) }}" alt=""></div>
              <div class="col-md">
              <div class="row">
               <div class="col-8 col-sm-9 col-md-10">
               <h5>{{vagas.titulo}}</h5>
              </div>
                <div class="col-4 col-sm-3 col-md-2 text-end">
                {% if current_user.favoritou_vaga(vagas) %}
            <a id=desfav_{{vagas.id}} class="linkFavoritar"><i class="fas fa-star botaoFavorito"></i></a>
            {% else %}
            <a id=fav_{{vagas.id}} class="linkFavoritar"><i class="far fa-star botaoFavorito2"></i></a>
            {% endif %}
                
                
                
              </div>
              </div>
                 <div>
                <p class="card-text"><small class="text-muted autor"><a class="detalhesVaga" href="{{ url_for('user', username=vagas.autor.username)}}">{{vagas.autor.username}}</a></small></p>
                <p class="card-text tag {{vagas.curso}}"><small>{{vagas.curso}}</small></p>
                <p class="card-text tag duracao"><small><i class="far fa-clock"></i> {{vagas.prazoInicial.strftime('%d/%m/%Y')}} até {{vagas.prazoFinal.strftime('%d/%m/%Y')}}</small></p>
              </div>
          </div>
            </div>
            <div class="row align-items-start mb-3">
              <div class="col-9 col-sm-6 col-md-6">
                <a data-id={{vagas.id}} class="detalhesVaga text-decoration-underline" onclick="verDetalhes(this)">Saiba mais</a>
              </div>
              <div class="col col-sm-6 col-md-6 text-end">
                {% if vagas.prazoFinal > data_agora %}
            {% if current_user.candidatou_vaga(vagas) %}
            <a id=descand_{{vagas.id}} type="button" class="btn btn-secondary linkCandidatar">Remover Inscrição</a>
            {% else %}
            <a id=cand_{{vagas.id}} type="button" class="btn btn-primary linkCandidatar">Candidatar-se</a>
            {% endif %}
            {% else %} 
            <button type="button" class="btn btn-secondary" disabled>Inscrições Encerradas</button>
            {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <div class="text-center">
            <h2>Nenhuma vaga encontrada</h2>
          </div>
          {% endif %}
        </div>
        <div class="text-center">
        {% for page_num in vaga.iter_pages() %}
      {% if page_num %}
        <a class=" botaoPaginacao mb-4" href="{{ url_for (request.endpoint, page=page_num, **request.view_args)}}">{{ page_num }}</a>
      {% else %}
      ... 
      {% endif %}
      {% endfor %}
    </div>
      </div>
    </div>
  </div>
</div>


    <div class="modal fade" id="detalhes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="nome_modal">Detalhes</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="dados">
            <p id="conteudoDetalhes"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock%}
